<div class="about_us">
  <div>
    <img src="Images/headerAboutUs.jpg" alt="USP Header Image" height="356px" width="100%">
  </div>
  <div class="about_us_text">
    <p class="about_us_text" align="left"> The University Scholars Club (USC) is a
      community of students enrolled in the National University of Singapore (NUS)
      University Scholars Programme (USP), which is a multidisciplinary, partially
      residential academic programme for NUS undergraduates. </p>
    <p align="left"> Members of the USC come from a wide array of majors spanning 7 faculties,
        ranging from computer science, to business, to philosophy.
        Possessing diverse interests and passions, members of the
        USC are marked by their intellectual curiosity, and are enthusiastic
        about learning and thinking critically, much of which stems from their
        daily interactions with peers and faculty. </p>
    <p align="left"> They seek to emerge from NUS as graduates with the intellectual rigour,
        initiative, and innovative spirit to make significant contributions to
        society. </p>
    <p align="left"> <b> Our Mission </b> <br>
        To facilitate the creation of a cohesive community of leaders and
        thinkers through stronger student, faculty and alumni engagement. </p>
    <p align="left"> <b> Our Vision </b> <br> </p>
    <ol>
      <li align="left"> To Promote Informal Learning </li>
      <li align="left"> To Bridge the Students, Faculty & Alumni </li>
      <li align="left"> To encourage and facilitate ground up initiatives </li>
    </ol>
    <p align="left"> For a copy of the USC Constitution, click here </p>
  </div>
  <div style="background-color:#ff9c08">
    <h3> 17th Management Committee </h3>
  </div>
  <div class="managementcommittee">
    <div class="managementcommittee">
      <img src="Images/MC_president.jpg" width="188px" height="188px">
      <br>
      <b> President </b> <br>
      <p> THAM Jun Han </p>
    </div>
    <div class="managementcommittee">
      <img src="Images/MC_vp_welfare.jpg" width="188px" height="188px">
      <br>
      <b> Vice-President </b> <br>
      <b> (Welfare) </b> <br>
      <p> WOO Qiyun </p>
    </div>
    <div class="managementcommittee">
      <img src="Images/MC_vp_commlife.jpg" width="188px" height="188px">
      <br>
      <b> Vice-President </b> <br>
      <b> (Community Life) </b> <br>
      <p> TEE Shu Yun </p>
    </div>
    <div class="managementcommittee">
      <img src="Images/MC_hongensec.jpg" width="188px" height="188px">
      <br>
      <b> Honorary General Secretary </b>
      <br>
      <p> Jeremy JEE De Sheng <p>
    </div>
    <div class="managementcommittee">
      <img src="Images/MC_honfinsec.jpg" width="188px" height="188px">
      <br>
      <b> Honorary Financial Secretary </b>
      <br>
      <p> Melissa TANG Shou Hui </p>
    </div>
    <div class="managementcommittee">
      <img src="Images/MC_fod.jpg" width="188px" height="188px">
      <br>
      <b> Freshman Orientation Director </b>
      <br>
      <p> ZHANG Quyi </p>
    </div>
  </div>
  <div text-align="Center" style="background-color:#002a90">
    <h3 style="color: white; margin-top: 10px; padding-bottom: 10px;"> USC Committees </h3>
  </div>
  <div class="managementcoms">
    <div class="managmentcomrowone">
      <div>
        <div>
          <img src="Images/USC_prcomm.jpg" alt="USP Public Relations Committee" height="294px" width="433px">
        </div>
        <div style="background-color:#ff9c08">
          <h1> Public Relations Committee </h1>
          <p> Headed by Tham Jun Han, President </p>
        </div>
        <div>
          <b align="left"> Communications Secretary </b>
          <p> Royston Chua </p>
          <b> Communications Team </b>
          <p> Koh Kai Qian, Nur Ridhuan </p>
          <b> Alumni Relations Officer </b>
          <p> Shien Hian Lim & Marcus Ng <p>
        </div>
      </div>
    </div>
    <div class="managmentcomrowone">
      <div>
        <img src="Images/USC_commlifecomm.jpg" alt="USP Community Life Committee" height="294px" width="433px">
      </div>
      <div style="background-color:#ff9c08">
        <h1> Community Life Committee </h1>
        <p> Headed by Tee Shu Yun, Vice-President (Community Life) </p>
      </div>
      <div>
        <b> Deputy Directors (Community Life) </b>
        <p> Tan Yan Tyng & Joyce Foo </p>
        <b> Sports Director </b>
        <p> Jeremy Png </p>
        <b> IG Coordinators </b>
        <p> Edward Goh (Sports) & Andrea Tan (Non-Sports) <p>
        <b> GUI Coordinators </b>
        <p> Kathy Tan (Social, Cultural & Sports) </p>
        <p> Jazreel Low (Social, Cultural & Sports) </p>
        <p> Loh Xiang Bin (Welfare & Acad) & Teoh Xin Yi (Community Service) </p>
      </div>
    </div>
    <div class="managmentcomrowone">
      <div>
        <img src="Images/USC_welfarecomm.jpg" alt="USP Community Life Committee" height="294px" width="433px">
      </div>
      <div style="background-color:#ff9c08">
        <h1> Student Welfare Committee </h1>
        <p> Headed by Woo Qiyun, Vice-President (Welfare) </p>
      </div>
      <div>
        <b> Director (Welfare Projects) </b>
        <p> Wan Nur Syafiqa B Syed Yusoff </p>
        <b> Deputy Directors (Welfare Projects) </b>
        <p> Charmaine Lee & Sanchita Sachdev </p>
        <b> Welfare Projects Team </b>
        <p> Ong Ci Wen, Jaymee Mariano Justiniano, Melanie Chng, <p>
        <p> Wee Su-Ann, Jasmie Liew, Kagen Lim, </p>
        <p> Jade Ng & Lee Chun Min </p>
        <b> Academic Director </b>
        <p> Atharv Joshi </p>
        <b> Academic Team </b>
        <p> Melvin Soh, Deter Thng, </p>
        <p> Devesh Narayanan & Loh Xiang Bin </p>
        <b> Directors (Residential Welfare) </b>
        <p> Wang Chiew Hui (Spaces) & Pang Chee Him (Dining Hall) </p>
        <b> Residential Welfare Team </b>
        <p> Seah Wan Yu & Philina Lai </p>
        <b> House Captains </b>
        <p> Gerald Seet (Ursaia), Kelvin Neo (Nocturna), Engracia Loh (Ianthe), </p>
        <p> Myat Thu Kyaw (Triton), Ng Jingrong (Ankaa), Arnold Teo (Saren) </p>
        <b> Coordinating Director (Interhouse Events) </b>
        <p> Tan Kit Yung </p>
      </div>
    </div>
  </div>
</div>
