<div class="about_us">
  <div>
    <img src="Images/headerAboutUs.jpg" alt="USP Header Image" height="356px" width="100%">
  </div> <br>
  <div class="about_us_text">
    <p class="about_us_text" align="left"> The University Scholars Club (USC) is a
      community of students enrolled in the National University of Singapore (NUS)
      University Scholars Programme (USP), which is a multidisciplinary, partially
      residential academic programme for NUS undergraduates. </p>
    <p align="left"> Members of the USC come from a wide array of majors spanning 7 faculties,
        ranging from computer science, to business, to philosophy.
        Possessing diverse interests and passions, members of the
        USC are marked by their intellectual curiosity, and are enthusiastic
        about learning and thinking critically, much of which stems from their
        daily interactions with peers and faculty. </p>
    <p align="left"> They seek to emerge from NUS as graduates with the intellectual rigour,
        initiative, and innovative spirit to make significant contributions to
        society. </p>
    <p align="left"> <b> Our Mission </b> <br>
        To facilitate the creation of a cohesive community of leaders and
        thinkers through stronger student, faculty and alumni engagement. </p>
    <p align="left"> <b> Our Vision </b> <br> </p>
    <ol>
      <li align="left"> To Promote Informal Learning </li>
      <li align="left"> To Bridge the Students, Faculty & Alumni </li>
      <li align="left"> To encourage and facilitate ground up initiatives </li>
    </ol>
    <p align="left"> For a copy of the USC Constitution, click here </p>
  </div>
  <div style="background-color:#ff9c08">
    <h3> 17th Management Committee </h3>
  </div>
  <div class="managementcommittee">
    <div class="managementcommittee">
      <img src="Images/MC_president.jpg" width="188px" height="188px">
      <br>
      <b> President </b> <br>
      <p> THAM Jun Han </p>
    </div>
    <div class="managementcommittee">
      <img src="Images/MC_vp_welfare.jpg" width="188px" height="188px">
      <br>
      <b> Vice-President </b> <br>
      <b> (Welfare) </b> <br>
      <p> WOO Qiyun </p>
    </div>
    <div class="managementcommittee">
      <img src="Images/MC_vp_commlife.jpg" width="188px" height="188px">
      <br>
      <b> Vice-President </b> <br>
      <b> (Community Life) </b> <br>
      <p> TEE Shu Yun </p>
    </div>
    <div class="managementcommittee">
      <img src="Images/MC_hongensec.jpg" width="188px" height="188px">
      <br>
      <b> Honorary General Secretary </b>
      <br>
      <p> Jeremy JEE De Sheng <p>
    </div>
    <div class="managementcommittee">
      <img src="Images/MC_honfinsec.jpg" width="188px" height="188px">
      <br>
      <b> Honorary Financial Secretary </b>
      <br>
      <p> Melissa TANG Shou Hui </p>
    </div>
    <div class="managementcommittee">
      <img src="Images/MC_fod.jpg" width="188px" height="188px">
      <br>
      <b> Freshman Orientation Director </b>
      <br>
      <p> ZHANG Quyi </p>
    </div>
  </div>
  <div text-align="Center" style="background-color:#002a90">
    <h3 style="color: white; margin-top: 10px; padding-bottom: 10px;"> USC Committees </h3>
  </div>
  <div class="managementcoms">
    <div class="managmentcomrowone">
      <div>
        <div>
          <img src="Images/USC_prcomm.jpg" alt="USP Public Relations Committee" height="294px" width="433px">
        </div>
        <div style="background-color:#ff9c08">
          <h1> Public Relations Committee </h1>
          <p> Headed by Tham Jun Han, President </p>
        </div>
        <div>
          <b> <p> Communications Secretary </p> </b>
          <p> Royston Chua </p> <br>
          <b> <p> Communications Team </p> </b>
          <p> Koh Kai Qian, Nur Ridhuan </p> <br>
          <b> <p> Alumni Relations Officer </p> </b>
          <p> Shien Hian Lim & Marcus Ng <p>
        </div>
      </div>
    </div>
    <div class="managmentcomrowone">
      <div>
        <img src="Images/USC_commlifecomm.jpg" alt="USP Community Life Committee" height="294px" width="433px">
      </div>
      <div style="background-color:#ff9c08">
        <h1> Community Life Committee </h1>
        <p> Headed by Tee Shu Yun, Vice-President (Community Life) </p>
      </div>
      <div>
        <b> <p> Deputy Directors (Community Life) </p> </b>
        <p> Tan Yan Tyng & Joyce Foo </p> <br>
        <b> <p> Sports Director </p> </b>
        <p> Jeremy Png </p> <br>
        <b> <p> IG Coordinators </p> </b>
        <p> Edward Goh (Sports) & Andrea Tan (Non-Sports) <p> <br>
        <b> <p> GUI Coordinators </p> </b>
        <p> Kathy Tan (Social, Cultural & Sports) </p>
        <p> Jazreel Low (Social, Cultural & Sports) </p>
        <p> Loh Xiang Bin (Welfare & Acad) & Teoh Xin Yi (Community Service) </p>
      </div>
    </div>
    <div class="managmentcomrowone">
      <div>
        <img src="Images/USC_welfarecomm.jpg" alt="USP Community Life Committee" height="294px" width="433px">
      </div>
      <div style="background-color:#ff9c08">
        <h1> Student Welfare Committee </h1>
        <p> Headed by Woo Qiyun, Vice-President (Welfare) </p>
      </div>
      <div>
        <b> <p> Director (Welfare Projects) </p> </b>
        <p> Wan Nur Syafiqa B Syed Yusoff </p> <br>
        <b> <p> Deputy Directors (Welfare Projects) </p> </b>
        <p> Charmaine Lee & Sanchita Sachdev </p> <br>
        <b> <p> Welfare Projects Team </p> </b>
        <p> Ong Ci Wen, Jaymee Mariano Justiniano, Melanie Chng, <p>
        <p> Wee Su-Ann, Jasmie Liew, Kagen Lim, </p>
        <p> Jade Ng & Lee Chun Min </p> <br>
        <b> <p> Academic Director </p> </b>
        <p> Atharv Joshi </p> <br>
        <b> <p> Academic Team </p> </b>
        <p> Melvin Soh, Deter Thng, </p>
        <p> Devesh Narayanan & Loh Xiang Bin </p> <br>
        <b> <p> Directors (Residential Welfare) </p> </b>
        <p> Wang Chiew Hui (Spaces) & Pang Chee Him (Dining Hall) </p> <br>
        <b> <p> Residential Welfare Team </p> </b>
        <p> Seah Wan Yu & Philina Lai </p> <br>
        <b> <p> House Captains </p> </b>
        <p> Gerald Seet (Ursaia), Kelvin Neo (Nocturna), Engracia Loh (Ianthe), </p>
        <p> Myat Thu Kyaw (Triton), Ng Jingrong (Ankaa), Arnold Teo (Saren) </p> <br>
        <b> <p> Coordinating Director (Interhouse Events) </p> </b>
        <p> Tan Kit Yung </p>
      </div>
    </div>
    <div class="managementcomrowtwo">
      <div>
        <img src="Images/USC_secretariat.jpg" alt="USP Secretariat Committee" height="294px" width="433px">
      </div>
      <div style="background-color:#ff9c08">
        <h1> Secretariat Committee </h1>
        <p> Headed by Jeremy Jee, Honorary General Secretary </p>
      </div>
      <div>
        <b> <p> Spaces Design Team </p> </b>
        <p> Matthew Lee (Lead), Chia Yu Xuan (Lead), <br>
            Chu Khoon Hwa & Andrea Tan </p> <br>
        <b> <p> Visual Design Team </p> </b>
        <p> Carina Lim (Lead), <br>
            Vandhana Jeyaram, Dong Yunfan, & Andrea Tan </p> <br>
        <b> <p> Operations Manager </p> </b>
        <p> Gwyneth Cheng <p> <br>
        <b> <p> Technology Development Team </p> </b>
        <p> Yuan Yuchuan (Lead), <br>
            Varun Patro, Ahan Gupta, Sean Ng, <br>
            Low Yew Woei & Chik Cheng Yao </p>
      </div>
    </div>
    <div class="managementcomrowtwo">
      <div>
        <img src="Images/USC_financecomm.jpg" alt="USP Finance Committee" height="294px" width="433px">
      </div>
      <div style="background-color:#ff9c08">
        <h1> Finance Committee </h1>
        <p> Headed by Melissa Tang, Honorary Financial Secretary </p>
      </div>
      <div>
        <b> <p> Deputy Honorary Financial Secretary </p> </b>
        <p> Maria Teresa Boey </p> <br>
        <b> <p> Business Development Executives </p> </b>
        <p> Low Yew Woei (External) & Rachel Thomas (Internal) </p> <br>
        <b> <p> Marketing Executives </p> </b>
        <p> Ng Shi Kai & Michelle Quek <p> <br>
        <b> <p> Financial Attaches </p> </b>
        <p> Quek Siying (Secretariat & Public Relations), <br>
            Pang Chee Him (Welfare) & Andrea Chou Lim (Community Life) </p>
      </div>
    </div>
    <div class="managementcomrowtwo">
      <div>
        <img src="Images/USC_fopcomm.jpg" alt="USP FOP Committee" height="294px" width="433px">
      </div>
      <div style="background-color:#ff9c08">
        <h1>  FOP Committee </h1>
        <p> Headed by Zhang Quyi, Freshmen Orientation Director </p>
      </div>
      <div>
        <b> <p> Deputy Director </p> </b>
        <p> Annina Zhang </p> <br>
        <b> <p> Directors </p> </b>
        <p> Jazreel Low (Finance), Joyce Yeo (Creative), <br>
            Merilynn Seng (Public Relations) & Jesmine Woon (Operations) </p> <br>
        <b> <p> Project Directors </p> </b>
        <p> Beatrice Low (Camp), Jenn (O’Week), Kathy Tan (Events), <br>
            Jadyn Teo (Batch Project) & Teoh Xinyi (Community Engagement) <p>
      </div>
    </div>
  </div>
  <div class="housecoms">
    <div style="background-color:#002a90">
      <h3 text-align="center" style="color:white"> House Committees </h3>
    </div>
    <div class="housecomrowone">
      <img src="Images/House_Ursaia.jpg" width="433px" height="294px">
      <div style="background-color:#ff9c08">
        <h4> Ursaia </h4>
      </div>
      <div>
        <b> <p> House Captain </p> </b>
        <p> Gerald Set </p> <br>
        <b> <p> Vice House Captain </p> </b>
        <p> Pratyay Jaidev </p> <br>
        <b> <p> Chief Orientation Group Leader </p> </b>
        <p> Taira Robles </p> <br>
        <b> <p> Vice Orientation Group Leader </p> </b>
        <p> Samantha Rin </p>
      </div>
    </div>
    <div class="housecomrowone">
      <img src="Images/House_Nocturna.jpg" width="433px" height="294px">
      <div style="background-color:#ff9c08">
        <h4> Nocturna </h4>
      </div>
      <div>
        <b> <p> House Captain </p> </b>
        <p> Kelvin Neo </p> <br>
        <b> <p> Vice House Captain </p> </b>
        <p> Oh Pei Shan </p> <br>
        <b> <p> Chief Orientation Group Leader </p> </b>
        <p> Gordon Chua </p> <br>
        <b> <p> Vice Orientation Group Leader </p> </b>
        <p> Lee Weiqi </p>
      </div>
    </div>
    <div class="housecomrowone">
      <img src="Images/House_Ianthe.jpg" width="433px" height="294px">
      <div style="background-color:#ff9c08">
        <h4> Ianthe </h4>
      </div>
      <div>
        <b> <p> House Captain </p> </b>
        <p> Engracia Loh Qian Ying </p> <br>
        <b> <p> Vice House Captain </p> </b>
        <p> Chik Cheng Yao </p> <br>
        <b> <p> Chief Orientation Group Leader </p> </b>
        <p> Clara Lim Pei Ying </p> <br>
        <b> <p> Vice Orientation Group Leader </p> </b>
        <p> Yap Joon Kiat Mitchell </p>
      </div>
    </div>
    <div class="housecomrowtwo">
      <img src="Images/House_Triton.jpg" width="433px" height="294px">
      <div style="background-color:#ff9c08">
        <h4> Triton </h4>
      </div>
      <div>
        <b> <p> House Captain </p> </b>
        <p> Myat Thu Kyaw </p> <br>
        <b> <p> Vice House Captain </p> </b>
        <p> Lee Chun Min </p> <br>
        <b> <p> Chief Orientation Group Leader </p> </b>
        <p> Chng Hui Ru Melanie </p> <br>
        <b> <p> Vice Orientation Group Leader </p> </b>
        <p> Nikita Gupta </p>
      </div>
    </div>
    <div class="housecomrowtwo">
      <img src="Images/House_Ankaa.jpg" width="433px" height="294px">
      <div style="background-color:#ff9c08">
        <h4> Ankaa </h4>
      </div>
      <div>
        <b> <p> House Captain </p> </b>
        <p> Ng Jingrong </p> <br>
        <b> <p> Vice House Captain </p> </b>
        <p> Nadine Quah </p> <br>
        <b> <p> Chief Orientation Group Leader </p> </b>
        <p> Mohd Asyraf Zaidi </p> <br>
        <b> <p> Vice Orientation Group Leader </p> </b>
        <p> Kew Yu Jing </p>
      </div>
    </div>
    <div class="housecomrowtwo">
      <img src="Images/House_Saren.jpg" width="433px" height="294px">
      <div style="background-color:#ff9c08">
        <h4> Saren </h4>
      </div>
      <div>
        <b> <p> House Captain </p> </b>
        <p> Teo Kun Ho Arnold </p> <br>
        <b> <p> Vice House Captain </p> </b>
        <p> Teo Xi Hui </p> <br>
        <b> <p> Chief Orientation Group Leader </p> </b>
        <p> Jasmine Liew Yee Theng </p> <br>
        <b> <p> Vice Orientation Group Leader </p> </b>
        <p> Cheung Wai Him Samantha </p>
      </div>
    </div>
  </div>
  <div class="interestGroups" style="background-color:#002a90">
    <h3 style="color:white"> Interest Groups </h3>
  </div>
  <div class="interestGroupInformation">
    <div class="igRowOne">
      <div class="igEntry">
        <div class="igHeader">
          <h3> (f)USball </h3>
        </div>
        <div class="igBody">
          <p> (f)USball is the IG for all foosball lovers! Foosball is a fancy
              name for table soccer which frankly came about quite randomly. We
              learn from each other, from youtube and from accidental goals. Game
              sessions are mostly spur of the moment or coincidental, lasting from
              10 minutes to hours, although Tuesday nights are fairly regular
              foosball nights. Cynics scoff at the idea of foosball being a sport,
              but come on down and see for yourself! </p>
        </div>
      </div>
      <div class="igEntry">
        <div class="igHeader">
          <h3> Dance Interest Group </h3>
        </div>
        <div class="igBody">
          <p> Dance Interest Group or DIG in short, was established in 2012 and
              provides a platform for USP students to enjoy dance sessions from
              a wide array of genres made available. DIG provides an open
              platform for anyone interested in dancing and learning new dance
              styles to join us, without the need to commit to any formal attendance.
              DIG will engage from its pool of student choreographers and instructors
              to conduct dance sessions from a specific dance genre selected for
              that week. DIG’s inaugural performance was at the 2013 USP FOP Camp
              Finale, a lyrical hip hop piece. </p>
        </div>
      </div>
      <div class="igEntry">
        <div class="igHeader">
          <h3> Gender Collective </h3>
        </div>
        <div class="igBody">
          <p> Gender Collective is an interest group that seeks to draw together
              people of all genders and sexual identities, for discussion in a
              safe space. We aim to generate discussion about gender and sexuality
              and how they intersect with other modes of living, learning and being
              in NUS, Singapore, and the world. We also hope to organise events
              that allow our members to feel a sense of community and support,
              including casual dinners, sharing sessions, trips to drag shows and more! </p>
        </div>
      </div>
    </div>
    <div class="igRowTwo">
      <div class="igEntry">
        <div class="igHeader">
          <h3> Heroes of the RC </h3>
        </div>
        <div class="igBody">
          <p> An interest group for people interested in eSports (especially
              the game Heroes of the Storm) and video games in general. </p>
        </div>
      </div>
      <div class="igEntry">
        <div class="igHeader">
          <h3> International Chess </h3>
        </div>
        <div class="igBody">
          <p> A gathering of people enthusiastic about playing international
              chess, both for leisure and for competing in IFG and ICG! </p>
        </div>
      </div>
      <div class="igEntry">
        <div class="igHeader">
          <h3> LiveCore </h3>
        </div>
        <div class="igBody">
          <p> For anyone who likes music or likes playing music- and who doesn’t?
              Meet other musicians, develop and experiment with your musicality,
              and showcase your skills at USP events and internal concerts.
              Even if you don't have any musical background, you can (and should)
              still join us to hang out, talk music, share ideas and have fun.
              We also offer basic lessons to get you started if you're interested! </p>
        </div>
      </div>
    </div>
    <div class="igRowThree">
      <div class="igEntry">
        <div class="igHeader">
          <h3> Mindfulness </h3>
        </div>
        <div class="igBody">
          <p> Breathe...... Are you here in this present moment while reading this
              description? Mindfulness is a practice, habit and lifestyle that we
              have lost or emphasised little in the state of busyness. As a
              result, we have become caught up, overwhelmed and stressed by our
              perceptions of life. Take a deep breath and experience more ways to
              be present with us </p>
        </div>
      </div>
    </div>
  </div>
</div>
