<div class="events">
  <div>
    <img src="Images/headerEvent.jpg" width="100%" height="356px">
  </div>
  <div width="1300px" style="background-color:#ff9c08">
    <h1> What's coming up next </h1>
    <p> Click onto the events for more details </p>
  </div>
  <div>
    <h1 align="left"> No upcoming events :( </h1>
    <p align="left"> Stay tune, as more will be coming soon! </p>
  </div>
  <div width="1300px" style="background-color:#ff9c08">
    <h1> Past events </h1>
    <p> Click onto the events for more details </p>
  </div>
  <div class="pastevents">
    <div class="pasteventsrowone">
      <div class="calendarEntry">
        <div class="calendarIcon">
          <h4> 05 </h4>
          <p> Oct 2017 <p>
        </div>
        <div class="calendarInfo">
          <h3 align="left"> Interfaith Session: Faith and <br>
               Biotechnology </h3>
          <p align="left"> 08:00PM - 10:00PM @ Masters Commons </p>
        </div>
      </div>
      <div class="calendarEntry">
        <div class="calendarIcon">
          <h4> 22 </h4>
          <p> Sep 2017 </p>
        </div>
        <div class="calendarInfo">
          <h3 align="left"> USP 2017 Parents Night </h3>
          <p align="left"> 06:30PM - 09:30PM @ Cinnamon College (USP) </p>
        </div>
      </div>
      <div class="calendarEntry">
        <div class="calendarIcon">
          <h4> 28 </h4>
          <p> Jun 2017 </p>
        </div>
        <div class="calendarInfo">
          <h3 align="left"> 3rd Asian Undergraduate Summit </h3>
          <p align="left"> 09:00AM - 05:30PM @ USP Cinnamon College </p>
        </div>
      </div>
    </div>
    <div class="pasteventsrowtwo">
      <div class="calendarEntry">
        <div class="calendarIcon">
          <h4> 22 </h4>
          <p> May 2017 </p>
        </div>
        <div class="calendarInfo">
          <h3 align="left"> AUN - ASEAN Educational <br> Forum and Young Speakers <br> Contest 2017 </h3>
          <p align="left"> 09:00AM - 06:00PM @ Cinnamon College (USP) </p>
        </div>
      </div>
      <div class="calendarEntry">
        <div class="calendarIcon">
          <h4> 15 </h4>
          <p> May 2017 </p>
        </div>
        <div class="calendarInfo">
          <h3 align="left"> USP-Piper 2017 'Intro to <br> Creative Writing' </h3>
          <p align="left"> 07:00PM - 09:00PM @ USP Learn Lobe Seminar Room 2 </p>
        </div>
      </div>
      <div class="calendarEntry">
        <div class="calendarIcon">
          <h4> 07 </h4>
          <p> Feb 2017 </p>
        </div>
        <div class="calendarInfo">
          <h3 align="left"> Faith & Fate - The Sessions: <br> Interfaith </h3>
          <p align="left"> 07:30PM - 09:30PM @ Chatterbox </p>
        </div>
      </div>
    </div>
  </div>
</div>
