<div class="homepage" width="90%" height="90%" align="center">
<div>
  <img src="Images/header.jpg" width="100%" min-height="356px">
</div>
<div style="background-color:#ff9c08">
  <h2> Upcoming Events </h2>
</div>
<div>
  <h2> No Upcoming Events :( </h2>
  <p> Stay tuned as more will be coming soon! </p>
</div>
  <form method="get" action="/">
    <input type="submit" value="View Events">
  </form>
<div style="background-color:#002a90">
  <h2 style="color:white"> Merchandise Store </h2>
</div>
  <div class="merchandisestore">
    <img src="Images/StoreImage/USPirit T-Shirt 010320151138.jpg" class="merchandisestore">
  </div>
  <div class="merchandisestore">
    <img src="Images/StoreImage/Circle Logo T-Shirt 020320151202.jpg" alt="USP Circular Logo" class="merchandisestore">
  </div>
  <div class="merchandisestore">
    <img src="Images/StoreImage/Eclairs T-Shirt 020320151211.jpg" alt="Eclairs USP Logo" class="merchandisestore">
  </div>
  <div class="merchandisestore">
    <img src="Images/StoreImage/Cat T-Shirt 020320151223.jpg" alt="USP Inquisitive Cat" class="merchandisestore">
  </div>
  <div class="merchandisestore">
    <img src="Images/StoreImage/University Scholars Programme T-Shirt 020320151233.jpg" class="merchandisestore">
  </div>
  <div class="merchandisestore">
    <img src="Images/StoreImage/Uspirit Hoodie 020320151249.jpg" alt="USP Hoodie" class="merchandisestore">
  </div>
<div>
</div>
<div style="background-color:#ff9c08">
  <h2> Announcements </h2>
</div>
</div>
