<!DOCTYPE html>
<html>
  <head>
    <!-- I'll set up a proper pack system later -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="page" align="center" width="90%">
    <div class="heading">
      <div class="navbar" position="relative">
        <div class="navbarattribute">
          <img src="Images/usclogo.jpg" alt="USP logo">
        </div>
        <div class="navbarattribute">
          <p> <a href="/"> Home </a> </p>
        </div>
        <div class="navbarattribute">
          <p> <a href="about_us"> About Us </a> </p>
        </div>
        <div class="navbarattribute">
          <p> <a href="/events"> Events </a> </p>
        </div>
        <div class="navbarattribute">
          <p> <a href="/spaces"> Spaces </a> </p>
        </div>
        <div class="navbarattribute">
          <p> <a href="/store"> Store </a> </p>
        </div>
        <div class="navbarattribute">
          <p> Contact Us </p>
        </div>
        <form action="/" method="get">
          <div class="login">
            <input type="submit" value="Login">
          </div>
          <div class="login">
            <p> Password: </p>
            <input type="password" name="password">
          </div>
          <div class="login">
            <p> NUSNET Number: </p>
            <input type="text" name="username">
          </div>
        </form>
      </div>
    </div>
      {{{body}}}
      <div style="background-color:#BDBDBD" position="absolute">
        <p align="left"> All rights reserved 2018; University Scholars Club </p>
      </div>
    </div>
  </body>
</html>
