<div class="proto">
  <div class="spacesPictures">
    <div class="spacesPicturesRowOne">
      <div>
        <a href="/spaces"> <img src="/Images/SpacesImage/headerTr1.png" alt="Photo of Theme Room 1"> </a>
      </div>
      <div>
        <a href="/spaces/tr2"> <img src="/Images/SpacesImage/headerTr2.jpg" alt="Photo of Theme Room 2"> </a>
      </div>
      <div>
        <a href="/spaces/ctph"> <img src="/Images/SpacesImage/headerCtph.png" alt="Photo of CTPH"> </a>
      </div>
    </div>
    <div class="spacesPicturesRowTwo">
      <div>
        <a href="/spaces/amphitheatre"> <img src="/Images/SpacesImage/amphitheatre.jpg" alt="USP Amphitheatre"> </a>
      </div>
      <div>
        <a href="/spaces/proto"> <img src="/Images/SpacesImage/headerProto.jpg" alt="USP proto center"> </a>
      </div>
      <div>
        <a href="/spaces/chatterbox"> <img src="/Images/SpacesImage/chatterbox.jpg" alt="USP Chatterbox"> </a>
      </div>
    </div>
  </div>
  <div style="background-color:#ff9c08;">
    <h2 text-align="center"> Prototyping Studio @ South Learn Lobe </h2>
  </div>
  <div class="protoInfo">
    <p> Prototyping Studio is a workshop space within USP to support the community
        in building artifacts or craft related works. The studio is used by USProductions’
        sets team, USC RAG Team, various USP students embarking on Independent Study
        Modules (ISM) and projects offered to USP students under the Undergraduate Research
        Opportunities Programme (UROP). It also houses storage solutions to support
        the student projects. </p>
    <p> The Prototyping Studio is managed by the University Scholars Club (USC).
        Access to the studio is restricted to project teams, access can be requested
        through USC Honorary General Secretary (usc.hongensec@u.nus.edu). </p>
    <p> <b> Terms of Use </b> </p>
    <ol>
      <li> Prototyping Studio is opened to all USP student who requires a space
           and tools for their projects. The access to the studio is restricted to
           project teams to safeguard the project materials and tools. </li>
      <ul>
        <li> Students can request for access to the studio can put their request to the Student Officer. </li>
      </ul>
      <li> Prototyping Studio cannot be used as a study area nor a meeting area.
           Project meetings should be held outside of the studio. </li>
      <li> Booking of the studio by project teams is unavailable. Teams are
           encouraged to co-share the space when required. </li>
      <li> All project teams must adhere to the safety regulations and ensure
           that the studio is kept neat after usage. Teams who have contravened
           this rules after repeated reminders will have their access rights revoked. </li>
      <li> At all times, food & drinks are not allowed in the Prototyping Studio. </li>
    </ol>
  </div>
</div>
