<div class="chatterbox">
  <div class="spacesPictures">
    <div class="spacesPicturesRowOne">
      <div>
        <a href="/spaces"> <img src="/Images/SpacesImage/headerTr1.png" alt="Photo of Theme Room 1"> </a>
      </div>
      <div>
        <a href="/spaces/tr2"> <img src="/Images/SpacesImage/headerTr2.jpg" alt="Photo of Theme Room 2"> </a>
      </div>
      <div>
        <a href="/spaces/ctph"> <img src="/Images/SpacesImage/headerCtph.png" alt="Photo of CTPH"> </a>
      </div>
    </div>
    <div class="spacesPicturesRowTwo">
      <div>
        <a href="/spaces/amphitheatre"> <img src="/Images/SpacesImage/amphitheatre.jpg" alt="USP Amphitheatre"> </a>
      </div>
      <div>
        <a href="/spaces/proto"> <img src="/Images/SpacesImage/headerProto.jpg" alt="USP proto center"> </a>
      </div>
      <div>
        <a href="/spaces/chatterbox"> <img src="/Images/SpacesImage/chatterbox.jpg" alt="USP Chatterbox"> </a>
      </div>
    </div>
  </div>
  <div style="background-color:#ff9c08;">
    <h2 text-align="center"> Chatterbox @ Cinnamon Lobby </h2>
  </div>
  <div class="chatterInfo">
    <p> Chatterbox is a common lounge located at the lobby of Cinnamon
        College and is open to all USP students. The Chatterbox is a venue
        that houses many informal sharing session within the USP community. </p>
    <p> Within Chatterbox you can have a glimpse of the community life of USP
        and one of the student initiative, USProvision, an honour based system
        provision stall to raise funds for USP student needy funds. It is also
        the home of the University Scholars Club. </p>
    <p> <b> Terms of Use </b> </p>
    <ol>
      <li> Chatterbox is open to all USP students for their discussions
           and hosting of informal sharing sessions. </li>
      <li> Chatterbox can only be booked for official  events (adopting
           "free and easy format") held by the following groups: </li>
      <ul>
        <li> USC Committees </li>
        <li> USC Houses </li>
        <li> USC Interest Groups </li>
        <li> Groups & Programmes officially affiliated with USP </li>
      </ul>
      <li> Booking of Chatterbox can be made through USC Website at least 3 days in advance. </li>
      <li> Users of Chatterbox are reminded to keep the lounge clean and refrain
           from shifting the furniture around. </li>
      <li> All bookings will be suspended during the exam period, beginning from
           reading week until the last day of each semester. </li>
      <li> Please be considerate users and pack up after use. </li>
    </ol>
    <p> <b> Note: </b>  Booking will only be reflected in the calendar below
        after it is approved by the Space Owner. Please check your own
        dashboard for booking status. </p>
  </div>
</div>
