<div class="ctph">
  <div class="spacesPictures">
    <div class="spacesPicturesRowOne">
      <div>
        <a href="/spaces"> <img src="/Images/SpacesImage/headerTr1.png" alt="Photo of Theme Room 1"> </a>
      </div>
      <div>
        <a href="/spaces/tr2"> <img src="/Images/SpacesImage/headerTr2.jpg" alt="Photo of Theme Room 2"> </a>
      </div>
      <div>
        <a href="/spaces/ctph"> <img src="/Images/SpacesImage/headerCtph.png" alt="Photo of CTPH"> </a>
      </div>
    </div>
    <div class="spacesPicturesRowTwo">
      <div>
        <a href= "/spaces/amphitheatre"> <img src="/Images/SpacesImage/amphitheatre.jpg" alt="USP Amphitheatre"> </a>
      </div>
      <div>
        <a href="/spaces/proto"> <img src="/Images/SpacesImage/headerProto.jpg" alt="USP proto center"> </a>
      </div>
      <div>
        <a href="/spaces/chatterbox"> <img src="/Images/SpacesImage/chatterbox.jpg" alt="USP Chatterbox"> </a>
      </div>
    </div>
  </div>
  <div style="background-color:#ff9c08;">
    <h2 text-align="center"> Chua Thianh Poh Hall </h2>
  </div>
  <div class="ctphInfo">
    <p> Chua Thian Poh Hall is a multi-purpose hall to support the diverse community
        life within USP. It is use to house large scale briefing sessions, formal
        ministerial dialogue, sport activities and musical performance. </p>
    <p> This facility is being managed by the USP administration team. </p>
    <p> <b> Terms of Use </b> </p>
    <ol>
      <li> Chua Thian Poh Hall (CTPH) is opened to all USP students.
           All students are required to book the venue before using CTPH. </li>
      <li> CTPH can be booked by any USP student for activities or sports organized
           for the USP community. </li>
      <li> Booking of CTPH can be made through Ihsan details are at
           this link: bit.ly/CTPHBooking. </li>
      <li> Chua Thian Poh Hall cannot be booked for following, but not limited to: </li>
      <ul>
        <li> Certain Sports (Hockey, Volleyball & Soccer) </li>
        <li> Study sessions </li>
        <li> School project meetings </li>
        <li> Personal events </li>
      </ul>
      <li> All non-USP students must be accompanied by a fellow USP students
           during their usage of CTPH (up to two guest each time).
           It is the USP students, who is accompanying the guest,
           responsibility to ensure that they adhere to the terms of use of the venue. </li>
      <li> All users of the sport equipment are to ensure that all equipment are
           returned to their designed storage area. No equipment should be left at
           the fire exit doors at all times. </li>
      <li> Please be considerate users and pack up CTPH after use. </li>
    </ol>
    <p> <b> Note: </b>  Booking can only be done through USP Admin through Ihsan.
        See: bit.ly/CTPHBooking </p>
  </div>
</div>
