<div class="spaces">
  <div class="spacesPictures">
    <div class="spacesPicturesRowOne">
      <div>
        <a href="/spaces"> <img src="Images/SpacesImage/headerTr1.png" alt="Photo of Theme Room 1"> </a>
      </div>
      <div>
        <a href="/spaces/tr2"> <img src="Images/SpacesImage/headerTr2.jpg" alt="Photo of Theme Room 2"> </a>
      </div>
      <div>
        <a href="/spaces/ctph"> <img src="Images/SpacesImage/headerCtph.png" alt="Photo of CTPH"> </a>
      </div>
    </div>
    <div class="spacesPicturesRowTwo">
      <div>
        <a href="/spaces/amphitheatre"> <img src="Images/SpacesImage/amphitheatre.jpg" alt="USP Amphitheatre"> </a>
      </div>
      <div>
        <a href="/spaces/proto"> <img src="Images/SpacesImage/headerProto.jpg" alt="USP proto center"> </a>
      </div>
      <div>
        <a href="/spaces/chatterbox"> <img src="Images/SpacesImage/chatterbox.jpg" alt="USP Chatterbox"> </a>
      </div>
    </div>
  </div>
  <div style="background-color:#ff9c08;">
    <h2 text-align="center"> Theme Room 1 @ South Learn Lobe </h2>
  </div>
  <div class="tr1Info">
    <p> Theme Room 1 is recreational space which is made available for the USP community.
        It space is designed to house small stage performance, drama rehearsal
        or informal dialogue sessions. It comes with a raised platform stage and bar table.
        It also has a chalkboard wall for the community to get creative and pen
        their thoughts or leave their artworks. </p>
    <p> The Theme Room 1 is managed by the University Scholars Club (USC).
        Reservation is made available only to USC interest groups and USP
        affiliated groups. </p>
    <p> <b> Terms of Use </b> </p>
    <ol>
      <li> Theme room are opened to all USP student on a first come first serve basis.
           All students are encourage to co-share the communal space with one another. </li>
      <li> Theme room can only be booked for official meetings or events held by the following groups: </li>
      <ul>
        <li> USC Committees </li>
        <li> USC Houses </li>
        <li> USC Interest Groups </li>
        <li> Groups & Programmes officially affiliated with USP </li>
      </ul>
      <li> Booking of the Theme Room can be made through USC Website at least 3 days in advance. </li>
      <li> Theme room cannot be booked for non-USC related purposes including, but not limited to: </li>
      <ul>
        <li> Study sessions </li>
        <li> School project meetings </li>
        <li> Personal events </li>
      </ul>
      <li> All bookings will be suspended during the exam period,
           beginning from reading week until the last day of each semester. </li>
      <li> At all times, food & drinks are not allowed in the Theme Room.
           Please be considerate users and pack up the Theme Rooms after use. </li>
    </ol>
    <p> <b> Note: </b> Booking will only be reflected in the calendar below after it is approved
        by the Space Owner. Please check your own dashboard for booking status.
        The projector and control panel at theme room 1 are currently not working.
        We have changed the projector but we will need to get vendor down to
        troubleshoot the control panel. Thus, the only way the students can use is
        to directly connect to the projector which will require a VGA cable. </p>
  </div>
</div>
