<div class="tr2">
  <div class="spacesPictures">
    <div class="spacesPicturesRowOne">
      <div>
        <a href="/spaces/tr1"> <img src="Images/SpacesImage/headerTr1.png" alt="Photo of Theme Room 1"> </a>
      </div>
      <div>
        <a href="/spaces/tr2"> <img src="Images/SpacesImage/headerTr2.jpg" alt="Photo of Theme Room 2"> </a>
      </div>
      <div>
        <img src="Images/SpacesImage/headerCtph.png" alt="Photo of CTPH">
      </div>
    </div>
    <div class="spacesPicturesRowTwo">
      <div>
        <img src="Images/SpacesImage/amphitheatre.jpg" alt="USP Amphitheatre">
      </div>
      <div>
        <img src="Images/SpacesImage/headerProto.jpg" alt="USP proto center">
      </div>
      <div>
        <img src="Images/SpacesImage/chatterbox.jpg" alt="USP Chatterbox">
      </div>
    </div>
  </div>
</div>
